#root {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
}

.header, .footer {
  padding: 1rem 0;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
